.accordionButton {
    width:100%;
    float:left;
    /*background:;*/
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    padding:3px 0px;}
.accordionButton span {
    color:#17479d;
    padding-left:5px;
    font-weight:normal;
	font-size:14px;
	}
.accordionContent {
    width:100%;
    float:left;
    background:#FFFFFF;}
.accordionContent p {
    color:#333333;
    font-size:14px;
    padding-left:8px;}
.on {
    width:100%;
    float:left;
    /*background:#555555;*/
    cursor:pointer;}
    .on span {color:#17479d;}
.over {
    width:100%;
    float:left;
    /*background:#555555;*/
    cursor:pointer;}
    .over span {color:#17479d;}
.plusMinus {
    font-weight:normal;
    /*float:right;*/
/*    padding-right:4px;*/
    content:"+";
	background-color:#17479d;
	color:#fff !important;
	padding: 3px 4px 3px 4px;
	}